* text=auto eol=lf

# NEDKA
*.data text

# Git
.github/ export-ignore
.gitignore export-ignore
.gitattributes export-ignore

# Code
*.blade.php diff=html
*.css diff=css
*.htm diff=html
*.html diff=html
*.map -diff
*.php diff=php
*.sass diff=css
*.scss diff=css
*.xhtml diff=html

# Config
*.lock -diff export-ignore
package-lock.json -diff export-ignore

# Documents
*.md diff=markdown
*.pdf binary

# Fonts
*.ttf binary
*.eot binary
*.otf binary
*.woff binary
*.woff2 binary

# Images
*.ai binary
*.bmp binary
*.eps binary
*.gif binary
*.heic binary
*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
*.psd binary
*.svg text
*.webp binary

# Audio
*.aac binary
*.ac3 binary
*.mp3 binary
*.wav binary

# Video
*.mkv binary
*.mov binary
*.mp4 binary
*.webm binary

# Archives
*.7z binary
*.gz binary
*.jar binary
*.rar binary
*.tar binary
*.zip binary
